<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexgomes_kevinmunar_dipenshah_sws901termproject" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PatientLocation"
            android:label="@string/title_activity_patient_location" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA44Kq_O7oVD9i-3DVZBzM3weYCwiK2zF8" />

        <!--Alex = AIzaSyCxbs8RsrsKbBAqXLXrybUCLC65MdOr2e4-->
        <!--Dipen = AIzaSyA44Kq_O7oVD9i-3DVZBzM3weYCwiK2zF8 -->

        <activity
            android:name=".GetPatientLocation"
            android:label="@string/title_activity_patient_interface" >
        </activity>
        <activity
            android:name=".AdminPanel"
            android:label="@string/title_admin_panel" >
        </activity>

        <receiver
            android:name=".AutoStart"
            android:exported="false" >
        </receiver>

        <activity
            android:name=".EmergencySMS"
            android:label="@string/title_activity_emergency_sms" >
        </activity>
    </application>

</manifest>
